<h3>Older Employees</h3>

<table class='older_employees'>
  <tr>
  <th>#</th>
  <% @header.each do |header| %>
    <th><%= t header %></th>
  <% end %>
  </tr>

  <% older_employees(@file_content).each_with_index do |row, index| %>
    <tr>
      <td><%= index+1 %></td>
      <% row.each do |data| %>
        <% if data.eql? row.last %>  
          <td><%= t('currency_format.BRL',value: data) %></td>
        <% else %>
          <td><%= data %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %> 
</table>