<h3><%= "Arquivo: #{@file.filename}" %></h3>
<h4><%= "Número de Linhas: #{@file_content.count}" %></h4>

<%= render partial: '/data_files/shared/older_employees' %>
</br></br>
<%= render partial: '/data_files/shared/newer_employees' %>

